<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:shiro="http://shiro.ops4j.org/tags"    
	xmlns:ui="http://java.sun.com/jsf/facelets"
	>
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Pax Shiro Faces Sample </title>
	<h:outputStylesheet name="style.css"/>
</h:head>

<h:body>

<h2>Users only</h2>

<p>You are currently logged in.</p>

<p><h:link outcome="/home">Return to the home page.</h:link></p>

<p><h:link outcome="/logout">Log out.</h:link></p>

</h:body>
</html>